*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
}

a{
	text-decoration: none;
	font-size: .9rem;
}

a:hover{
	color: #fff;
}

header ul{
	padding: 0;
	margin:0;
}

header li{
	list-style-type: none;
	display: inline;
	padding: 0 .3rem;
}

h1{
	color: #b97f7c;
	font-weight: 400;
	font-size: 1.7rem;
}

.header-logo{
	display: flex;
	align-items: center;
}

.header-logo img{
	width: 4rem;
}

.menu-burguer{
	display: none;
}

.top-header-content{
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
    padding: 0.5rem;
    align-items: center;
	color: #6c6c6c;
}

.top-header-content li a{
	color: #6c6c6c;
}

.top-header-content-bigger li{
	padding-right: .6rem;
} 

.top-header-content-bigger li a{
	font-size: 1.15rem;
	color: #6c6c6c;
}

#header-background-after{
	background-color: #6c6c6c;
}

.top-header-content ul li a:hover{
	color: #b97f7c;
}

.fa{
	font-size: 1.1rem;
}

.bottom-header-content{
	background-image: url(../images/fundo1.jpg);
	background-size: contain;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: .9rem;
	margin-bottom: .5rem;
}

.bottom-header-content li a{
	color: #b97f7c;
	font-size: 1rem;
}

.bottom-header-content a:hover{
	color:#6c6c6c;
}

.bottom-header-content ul{
	width: 16rem;
	height: 2.5rem;
	border-radius: .3rem;
	background-color: #fdf6f6;
	border: .3rem double #b97f7c;
	text-align: center;
	padding-top: .3rem;
}

#search{
	width: 18rem;
	height: 2.5rem;
	border-radius: .3rem;
	background-color: #fdf6f6;
	border: .3rem double #b97f7c;
}

input[type="search"], input [type="text"]{
	padding-left: .6rem;
}

#btn{
	width: 10rem;
	height: 2.5rem;
	border-radius: .3rem;
	background-color: #b97f7c;
	border: .3rem double #4E4E4E;
	cursor: pointer;
	color: #fdf6f6;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	
}

.owl-nav{
	display: none;
}

.faixa{
	width: 100%;
	height: 4rem;
	background-image: url(../images/fundo1.jpg);
	background-size: contain;
}

.bolos-bg{
	background-color: #f9e4e4;
	margin-bottom: 1rem;
}

.bolos-bg_title, .docinhos-bg-title{
	background-color: #fdf6f6;
}

.bolos-bg h2, .docinhos-bg h2{
	text-align: center;
	font-size: 2.5rem;
	padding: 2rem;
	font-weight: 500;
	color: #6c6c6c;
	border-bottom: 0.1rem solid #b97f7c;
}

.bolos-imgs, .docinhos-imgs{
    display: flex;
	flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem;
    align-items: center;
}

.bolos-imgs img{
	width: 25rem;
	border-radius: .5rem;
}

.bolos-imgs-1, .bolos-imgs-2, .bolos-imgs-3{
	display: flex;
	flex-direction: column;
	align-items: center;
	border: .3rem double #b97f7c;
	width: 31.2rem;
    height: 53.1rem;
    background-color: #fdf6f6;
    border-radius: .6rem;
}

.bolo1, .bolo2, .bolo-3{
	display: flex;
    justify-content: center;
	width: 28.1rem;
    height: 40.6rem;
    margin: 1.25rem auto;
}

.bolos-preco, .docinhos-preco{
	color:#6c6c6c;
	font-weight: 500;
    font-size: 1.1rem;
}

.bolos-preco p, .docinhos-preco p{
	padding-bottom: 10px;
}

.bolos-preco p:nth-child(even), .docinhos-preco p:nth-child(even){
	font-size: 20px;
	color:#b97f7c;
}

.bolos-preco_btn button{
	width: 240px;
    height: 52px;
    color: #b97f7c;
    background-color: #fdf6f6;
    font-family:'Roboto', sans-serif;
	font-weight: 500;
	font-size: 14px;
    cursor: pointer;
	border: 2px solid #6c6c6c;
}

.bolo-img{
	display: flex;
	margin: 1rem 0;
	background-color: #fdf6f6;
}

.bolo-img_img{
	width: 50%;
}

.bolo-img_img img{
	width: 100%;
}

.bolo-img_p{
	width: 50%;
	padding: 2rem;
	text-align: justify;
	line-height: 1.5rem;
	color: #6c6c6c;
	font-size: 1.2rem;
}

.bolo-img_p h3{
	padding: 1rem 0;
	color: #b97f7c;
}

.bolo-img_p h3:first-child{
	padding-top: 0;
	font-size: 1.6rem;
}

.bolo-img_p p:last-child{
	padding: 1rem 0;
}

.bolo-img_p ul{
	padding-left: 1rem;
}

.bolo-img_btn{
	display: flex;
    justify-content: flex-end;
	margin-top: 1.8rem;
}

.btn{
	width: 250px;
    height: 65px;
    color: #6c6c6c;
    background-color: #fdf6f6;
    font-family:'Roboto', sans-serif;
	font-weight: 500;
	font-size: 1rem;
    cursor: pointer;
	border: 5px double #b97f7c;
}

.docinhos-bg{
	margin: 1rem 0;
	background-color: #f9e4e4;
}

.docinhos{
	max-width: 80%;
	margin: 0 auto;
	display: flex;
	padding: 3rem;

}	

.docinhos img{
	width: 15rem;
	height: 20rem;
	border-radius: .5rem;
}

.docinhos-imgs-1, .docinhos-imgs-2, .docinhos-imgs-3, .docinhos-imgs-4{
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 5px double #b97f7c;
	width: 300px;
    height: 507px;
    background-color: #fdf6f6;
    border-radius: 10px;
}

.docinho1, .docinho2, .docinho3, .docinho4{
	margin: 1.25rem auto;
}

.footer-bg{
	background-color: #b97f7c;
	margin-top: 1rem;
}

.footer{
	max-width: 80%;
	margin: 0 auto;
}

.contato{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    color: #4E4E4E;
    font-family: 'Roboto', sans-serif;
}

.pedidos, .somos, .atendimento, .ganhe{
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 13px;
    line-height: 24px;
    margin-top: 20px;
    margin: 55px 0 36px 0;
    padding-right: 130px;  
}

.ganhe{
    border-right: none;
}

.pedidos p, .somos p, .atendimento p, .ganhe p{
    cursor: pointer;
}

.pedidos p:first-child, .somos p:first-child, .atendimento p:first-child, .ganhe p:first-child{
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 15px;
    cursor:default;
}

.form{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 7px;
    width: 380px;
    height: 53px;
    display: flex;
    justify-content: space-between;
}

.form > input {
    border: none;
	width: 16rem;
}

.form > button{
    width: 105px;
    height: 38px;
    background-color: #4E4E4E;
    color: white;
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
    border:none;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.ganhe:nth-child(3){
    opacity: 60%;
    font-size: 14px;
    padding-left: 18px;
    cursor: default;
}

.copyr{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 2rem;
	padding-bottom: 2rem;
    color:#4E4E4E;
}

@media (max-width: 1024px){
	.top-header-content-bigger, .top-header-content ul{
		display: none;
	}

	.menu-burguer{
		display: block;
		font-size: 2rem;
		cursor: pointer;
	}

	.menu-burguer:hover{
		color: #b97f7c;
	}

	.bottom-header-content{
		flex-direction: column;
	}

	.bottom-header-content ul{
		display: none;
	}

	.bolo-img{
		flex-direction: column-reverse;
		align-items: center;
	}

	.bolo-img_p, .bolo-img_img{
		width: 100%;
	}

	.bolo-img_btn{
		justify-content: center;
	}

	.docinhos{
		flex-wrap: wrap;
	}

	.contato{
		flex-wrap: wrap;
	}

	.ganhe{
		padding-right: 0;
	}

	.form{
		width: 250px;
	}

}
